fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
bcrypt
pydantic[email]
pylint
flake8
black
pytest
coverage
selenium
pytest-cov
pytest-html
pytest-asyncio
httpx
aiosqlite